<div class="row">
	<div class="input-field col s12 l3">
		{{input type="text" class="validate" value=brand}}
        <label for="brand">Brand</label>
	</div>
	<div class="input-field col s12 l3">
		{{input type="text" class="validate" value=color}}
        <label for="color">Color</label>
	</div>
	<div class="input-field col s12 l3">
		{{input type="number" class="validate" value=wheels}}
        <label for="wheels">Wheels</label>
	</div>
	<div class="input-field col s12 l3">
		{{input type="text" class="validate" value=price}}
        <label for="price">Price</label>
	</div>
	<div class="input-field col s12 l3">
		{{input type="text" class="validate" value=img_url}}
        <label for="brand">Image</label>
	</div>
</div>